@model webApp00.BL.Model.DepartmentVM
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
 }

<h2>Create</h2>


<br />
<a asp-action="Index" asp-controller="Dep" class="btn btn-primary">@SharedLocalizer["btd"]</a>
<br />
<br />

<form class="form-group" asp-action="Edit" asp-controller="Dep">
    <br /><br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <br /><br />

    <input type="hidden" asp-for="Id" />

    <label asp-for="DepartmentName">@SharedLocalizer["DepartmentName"]</label>
    <input type="text" class="form-control" asp-for="DepartmentName" />
    <span asp-validation-for="DepartmentName" class="text-danger"></span>

    <br />

    <label asp-for="Departmentcode">@SharedLocalizer["dc"]</label>
    <input type="text" class="form-control" asp-for="Departmentcode" />
    <span asp-validation-for="Departmentcode" class="text-danger"></span>

    <br />

    <center>
        <input type="submit" value="@SharedLocalizer["Edit"]" class="btn btn-primary" />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-danger" />
    </center>


</form>
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/jquery-validation/jquery.validate.js"></script>